<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/StyleAll.css' %}">
    <script src="https://kit.fontawesome.com/629da8d65b.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-color navbar-dark fixed-top">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/ocitlogo.png' %}" alt="logo" style="width:50px;">
            </a>
                
            <!-- Links -->
            <div class = "collapse navbar-collapse justify-content-end">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:about' %}">About</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="{% url 'homepage:education' %}">Education & Experience</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'homepage:gallery' %}">Portofolio</a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    <div id="About">
        <div id="About-title">
            <img src="{% static 'images/Ocit.png' %}" alt="">

            <h1>About Me</h1>
            <div id="rectangle1"></div>
            <p>Rasyid atau yang biasa disapa dengan Ocit merupakan seorang mahasiswa Fasilkom UI tahun kedua. Ia merupakan anak yang sangat senang mempelajari hal baru. Ocit juga hobi berenang loh, giginya patah saat sedang latihan loncat untuk lomba pertamanya. Dia juga senang membantu orang lain sampai lupa dengan dirinya sendiri.</p>
        </div>
    </div>
</body>
</html>