<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/StyleAll.css' %}">
    <script src="https://kit.fontawesome.com/629da8d65b.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-color navbar-dark fixed-top">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/ocitlogo.png' %}" alt="logo" style="width:50px;">
            </a>
                
            <!-- Links -->
            <div class = "collapse navbar-collapse justify-content-end">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:about' %}">About</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="{% url 'homepage:education' %}">Education & Experience</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'homepage:gallery' %}">Portofolio</a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    <div class="Home">
        <div id="Home-overlay">
            <p class="slideup">Hi,</p>
            <div id = "imocit">
                <h1 id=ocit>I Am Rasyid.</h1>
            </div>
            <div class="social">
                <ul>
                    <a href="https://www.instagram.com/siidrasyid" target="_blank"><li><i class="fab fa-instagram" aria-hidden="true"></i></li></a>
                    <a href="https://www.facebook.com/SSHBangOcit" target="_blank"><li><i class="fab fa-facebook-f" aria-hidden="true"></i></li></a>
                    <a href="https://www.linkedin.com/in/muhammadrasyid22/" target="_blank"><li><i class="fab fa-linkedin-in" aria-hidden="true"></i></li></a>
                    <a href="https://line.me/ti/p/n3DUuSuAx5" target="_blank"><li><i class="fab fa-line" aria-hidden="true"></i></li></a>
                </ul>
            </div> 
        </div>
        
    </div>

    
</body>
</html>